<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.demos.dao.UserDao">
    <update id="updateUser">
        update user set password = #{password}, permission = #{permission} where account = #{account}
    </update>
    <delete id="deleteUser">
        delete from user where account = #{account}
    </delete>
    <select id="getUserByAccount" resultType="com.example.test.demos.pojo.User">
        select * from user where account = #{account}
    </select>
</mapper>